.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.outer-border {
  border: 1px solid black;
  margin: 0px 20%;
  width: 63%;
  height: 333px;
}

.header {
  /* text-align: initial; */
  align-content: space-between;
  border-bottom: 1px solid black;
  padding: 17px auto;
  padding-bottom: 4px;
}

.header button {
  align-content: space-between;
  background-color: unset;
  border: 1px solid black;
  margin-right: 20px;
}

.markdown-field {
  margin: 20px 18%;
  border: 1px solid black;
}